<!DOCTYPE html>
<html data-ng-app="academy">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>BVN Academy Demo</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
		<script type="text/javascript" src="src/academy.js"></script>
		<script type="text/javascript" src="src/timer.js"></script>
		<script type="text/javascript" src="src/controllers/video_controller.js"></script>
		<script type="text/javascript" src="src/services/youtube_service.js"></script>
		<link href="style/style.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body data-ng-controller="Controllers.VideoController">
		<button data-ng-click="switchMode()">Switch</button>
		<div id="ytwrapper" class="visible-{{ showVideo }}">
			<div id="ytplayer"></div>
		</div>
		<div id="formwrapper" class="visible-{{ !showVideo }}">
			<form name="quiz" action="">
				<p>{{ selectedQuiz.question }}</p>
				<span data-ng-repeat="option in selectedQuiz.options">
					<input type="radio" data-ng-model="$parent.selectedOption"
				   		value="{{ option }}" name="option">
						{{ option }}<br>
				</span>
				<button name="button" data-ng-click="attemptQuiz()">OK</button>
				<button name="button2">Play Again</button>
			</form>
		</div>
	</body>
</html>
